@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

body {
  background-color: #397aca;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  text-align: center;
}

body #title {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
}

body #tribute-info, body figcaption, body #tribute-link {
  font-size: 1.5em;
}

body #image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}